<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,
 initial-scale=1.0, maximum-scale=1.0">

    <title>Ember.js Chapter 1 - Notes</title>
    <link rel='stylesheet' href='stylesheets/bootstrap.min.css'>
    <!--<link rel="stylesheet" href="stylesheets/style.css">-->

    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.js"></script>
    <script src="/lib/Ember/handlebars-v1.3.0.js"></script>
    <script src="/lib/Ember/ember.js"></script>
    <script src="/lib/Ember/ember-data.js"></script>
    <script src="js/app/app.js" type="text/javascript"
            charset="utf-8">
    </script>

    <script type="text/x-handlebars" id="application">
        Yeaaa
    </script>

</head>
<body>

</body>
</html>