<!DOCTYPE html>
<head>
    <!--<link rel="stylesheet" href="stylesheets/bootstrap.css">-->
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
	<link href="color/default.css" rel="stylesheet" media="screen">
	<script src="js/modernizr.custom.js"></script>
</head>
<body>
    <div id="intro">
        <div class="intro-text">
            <div class="container">
                <div class="brand">
                    <div class="row">
                        <div class="covered">
                            <div class="col-xs-1">
                                <div class="Oh">O</div>
                            </div>
                            <div class="col-xs-1">
                                <div class="neff">
                                    <div class="row">
                                        <div class="col-xs-2"><div class="cover"></div>ne</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-2 effeff"><div class="cover"></div>ff</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-spacer"></div>
                        <p><span>Revolutionizing Temporary Communication</span></p>
                        <p><span><b>Under Construction</b></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
	<script src="js/jquery.smooth-scroll.min.js"></script>
	<script src="js/jquery.dlmenu.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/custom.js"></script>
</body>