<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"></link>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>
<body>
<div class="row">
    <div class="col-xs-1">
        <div class="Oh">O</div>
    </div>
    <div class="covered col-xs-1">
        <div class="row">
            <div class="col-xs-1"><div class="cover"></div>ne</div>
        </div>
        <div class="row">
            <div class="col-xs-1"><div class="cover"></div>ff</div>
        </div>
    </div>
</div>
</body>